
<div class="container mt-3">
  <app-state-selector (stateSelected)="onStateChange($event)"></app-state-selector>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let record of covidData; let i = index">
      <mat-card class="data-card h-100">
        <h3 class="card-header">Date: {{ record.dateChecked | date:'mediumDate' }}</h3>
        <div class="card-body">
          <p>New Cases: {{ record.positiveIncrease }}</p>
          <p [ngClass]="{'text-success': record.dailyDifference > 0, 'text-danger': record.dailyDifference < 0}">
            Daily Change: {{ record.dailyDifference | number:'1.0-0' }}
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
